header {
  width: 100%;
  position: fixed;
  background-color: #4A628A;
  z-index: 99;
  top: 0;
  left: 0;
}

main {
  padding-top: 140px;
  width: 100%;
  background-color: #DFF2EB;
}

// footer {

// }
