.map {
  position:relative;
  z-index: 0;
}

.control-panel {
  box-shadow: 0 0 4px rgba(0, 0, 0, .15);
  cursor: auto;
  font-size: 12px;
  line-height: 18px;
  outline: 0;
  padding: 12px 24px;
  position: absolute;
  right: 2px;
  top: 0;
  width: 284px;
}