.nav_container {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  color: #fff;

  .site_logo {
    color: hsl(0, 0%, 100%);
    margin-right: auto;
    // text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 2.5rem;
  }

  .avatar_img {
    width: 40px;
    height: 40px;
    // border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px 2px #fff;
  }

  .user_icon {
    margin-left: 8px;
    width: 40px;
    height: 40px;
  }
}
