.card_upper {
  display: flex;
  align-items: center;

  .left {
    // width: 30%;
    .avatar {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      border: 2px solid black;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    width: 70%;
    // margin: 20px;
    
    > div {
      margin: 5px;
    }

    .learnerORmentor{
      font-size: 1rem;
    }
  }
}

.profile {
// .languages, .programmingLanguages, learningDuration{
  padding: 0 7px;
  margin-left: 5px;
  border: 1px solid rgb(223, 226, 231);
  border-radius: 16px;
  background-color: rgba(204, 230, 255, 0.4);
  font-size: 0.8rem;
}

.cafeCard-container {
  font-size: 1rem;
  
  .cafeProfile {
    padding: 0 7px;
    margin-left: 5px;
    border: 1px solid rgb(223, 226, 231);
    border-radius: 16px;
    background-color: rgba(204, 230, 255, 0.4);
    font-size: 0.8rem;

  }
 
  img{
    object-fit: cover; 
    height: 100px;
    width: 150px;
    border-radius: 5px;
    margin-left: 5px;
  }
}


