.card_upper {
  display: flex;

  .left {
    // width: 30%;
    .avatar {
      height: 100px;
      width: 100px;
      border-radius: 50%;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    width: 70%;
    margin: 20px;
    
    > div {
      margin: 10px;
    }

    .learnerORmentor{
      font-size: 1.2rem;
    }
  }
}

.card-container {
  background-color: red;
}
