.section-title {
  font-weight: 500;
  color: #1a1a1a;
  font-size: 1.125rem;
}

.section-value {
  padding: 0 20px;
  text-align: right;
  color: #666;
  font-size: 1rem;
  // text-overflow: ellipsis;
}